@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
}

/* Sider */
.sider {
  height: calc(100vh - 64px);
  background-color: #F2F2F2;
  border-right: 1px solid #E0E0E0;
}

/* Sider ->  Menu */
.ant-menu-item {
  display: flex;
  padding: 24px 20px;
  margin-bottom: 15px;
  color: #031D44 !important;
}

.ant-menu-item-selected {
  color: #044FB9 !important;
  background-color: #C2D6E6 !important;
  font-weight: 600;
}

/* Header */
:where(.css-dev-only-do-not-override-142vneq).ant-layout-header {
  padding: 0;
  border-bottom: 1px solid #E0E0E0;
  background-color: #F2F2F2;
}
