
.customerSelectionDropdown {
    width: 300px;
    text-align: start;
    border: .8px solid rgb(156, 156, 156);
    border-radius: 6px;
    outline: none;
}

.customerSelectionDropdown:hover {
    border: .8px solid #4096FF;
}

.customerSelectionDropdown:active {
    border: .8px solid #4096FF;
}

.invoiceInputFields {
    border: 1px solid rgb(156, 156, 156);
}


/* --------- Button Styles ---------- */

.invoiceEmailButton {
    letter-spacing: .3px;
    font-size: 14px;
    border: 2px solid rgb(30, 34, 46);
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: rgb(30, 34, 46);
    cursor: pointer;
}

.invoiceEmailButton:active {
    border: 2px solid rgb(16, 18, 25);
    background-color: rgb(16, 18, 25);
}

.invoicePrintButton {
    letter-spacing: .3px;
    font-size: 14px;
    border: 2px solid rgb(14, 103, 129);
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: rgb(14, 103, 129);
    cursor: pointer;
}

.invoicePrintButton:active {
    border: 2px solid rgb(4, 77, 100);
    background-color: rgb(4, 77, 100);
}

/* --------- Button Styles ---------- */