*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.header {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 65px;
}

.dashboardWrapper {
    margin-top: 50px;
    margin-left: 200px;
}

.sidebarWrapper {
    margin-top: 65px;
    position: fixed;
}