.primary-save-button-style {
    letter-spacing: .3px;
    font-size: 14px;
    border: 2px solid rgb(19, 150, 118);
    padding: 5px 10px;
    border-radius: 6px;
    color: white;
    background-color: rgb(19, 150, 118);
    cursor: pointer;
}

.primary-save-button-style:active {
    border: 2px solid rgb(12, 101, 79);
    background-color: rgb(12, 101, 79);
}

.primary-input-field-header-style {
    font-size: 14px;
    font-weight: 500;
}